:root {
  /* color */
  --primary-color: #fff;
  --primary-color2: #080422;
  --primary-color3: #6001D3;
  --primary-color4: #6B6785;
  --primary-color5: #E5E5E5;
  --primary-color6: #9C99AE;
  --primary-color7: #FFFFFFB2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.web-view {
  width: 100%;
  height: 100vh;
  border: none;
}

iframe::-webkit-scrollbar {
  display: none !important;
}

.color-1 {
  background-color: var(--primary-color3);
}

.web-view ::-webkit-scrollbar {
  visibility: hidden;
}

.text-color-1 {
  color: #fff;
}

.text-color-2 {
  color: #080422 !important;
}

.text-color-3 {
  color: #6001D3 !important;
}

.text-color-4 {
  color: #6B6785 !important;
}

.text-color-5 {
  color: #F6F6F6 !important;
}

.text-color-6 {
  color: #9C99AE !important;
}

.text-color-7 {
  color: #FABE3C !important;
}

.text-color-8 {
  color: rgba(156, 153, 174, 0.75) !important;
}


.chat-main-container {
  display: flex;
}

.side-bar-chat {
  visibility: visible;
}

.h-resp {
  height: 77vh;
}

.chat-container {
  padding-left: 20px;
  padding-right: 50px;
  width: 100%;
  padding-bottom: 30px;
}

.sidebar-w-96 {
  width: 21rem
    /* 384px */
  ;
  overflow: hidden;
}

.delete-button:hover {
  background-color: #d1ccec;
  border-radius: 20%;
}

.delete-button {
  display: none;
}

.msg-con:hover .delete-button {
  display: block;
}

@media only screen and (max-width: 1400px) {
  .chat-container {
    height: 87vh;
    padding-left: 20px;
    padding-right: 50px;
    width: 100%;
  }

  .sidebar-w-96 {
    width: 17rem
      /* 384px */
    ;
    overflow: hidden;
  }

  .sidebar-w-96 .h-10,
  .w-10 {
    height: 2.0rem;
    /* 40px */
    width: 2.0rem;
    /* 40px */
  }

  .sidebar-w-96 .text-xl {
    font-size: 15px;
  }

  .sidebar-w-96 .text-xs {
    font-size: 10px;
    width: 120px;
  }

  .sidebar-w-96 .text-sm {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .side-bar-chat {
    display: none;
  }

  .h-resp {
    height: 65vh;
  }
  .chat-main-container {
    height: 80vh;
  }

  .show-side {
    position: fixed;
    top: 0;
    left: 0;
    background-color: aliceblue;
    z-index: 100;
    height: 100vh;
  }

  .chat-container {
    height: 85vh !important;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}